In [2]:
from pyspark import SparkConf,SparkContext

In [4]:
conf=SparkConf().setAppName("Travel_Data_Analysis")
sc=SparkContext(conf=conf)

In [9]:
#loading the data by creating rdd
travelRdd=sc.textFile('TravelData.csv')
for i in travelRdd.take(10):
    print(i)

City_pair,From_location,To_Location,Product_type,Adults_traveling,Seniors_traveling,Children_traveling,Youth_traveling,Infant traveling,Date_of_travel,Time_of_travel,Date_of_Return,Time_of_Return,Price_of_booking,Airline_code,Airline,Hotel
ZIH-ZIH,ZIH,ZIH,4,2,0,0,0,0,00:00.0,00:00.0,0,0,2003.199951,nan,nan,Viceroy Zihuatanejo
ZIH-ZIH,ZIH,ZIH,4,2,0,0,0,0,00:00.0,00:00.0,0,0,1556.76,nan,nan,Capella Ixtapa Resort & Spa
YYZ-YYZ,YYZ,YYZ,4,1,2,0,0,0,00:00.0,00:00.0,0,0,268.02,nan,nan,Hilton Hotel and Suites Niagara Falls/Fallsview
YYZ-YYZ,YYZ,YYZ,4,1,2,0,0,0,00:00.0,00:00.0,0,0,674.36,nan,nan,Hilton Hotel and Suites Niagara Falls/Fallsview
YYZ-YYZ,YYZ,YYZ,2,0,1,0,0,0,00:00.0,00:00.0,0,254.19,0,nan,nan,nan
YYZ-YYZ,YYZ,YYZ,4,1,0,0,0,0,00:00.0,00:00.0,0,0,916.46,nan,nan,Hilton Suites Conference Centre and Spa
YYC-YYC,YYC,YYC,4,1,0,0,0,0,00:00.0,00:00.0,0,0,903.36,nan,nan,Delta Bow Valley
YYC-YYC,YYC,YYC,4,2,0,0,0,2,00:00.0,00:00.0,0,0,1107.14,nan,nan,The Rimrock Resort Hotel
YVR-YYZ,YVR,YYZ,7,1,1,0,0,0,00:00.0,00:00.0,4351.4,176.85,238.14,AC,Air Canada,Comfort Hotel Airport North

### Top 10 Destinations people travel to

In [28]:
#Do not include header in while reading rows
header=travelRdd.first()
travelnoheader=travelRdd.filter(lambda line:line!=header)

In [29]:
#Map function to split the rows on comma
travelsplit=travelnoheader.map(lambda row:row.split(','))

In [30]:
#val,1 using map taking only destination column from the rows
travelkeyval=travelsplit.map(lambda row:(row[2],1))
#cnt of each key in the dataset applying reduceByKey
travelcnt=travelkeyval.reduceByKey(lambda x,y:x+y)

In [36]:
#swap the key val pair and sortByKey
travelswap=travelcnt.map(lambda x:(x[1],x[0]))
travelsort=travelswap.sortByKey(0)
finalrdd=travelsort.collect()
print(finalrdd[:11])

[(396, 'MIA'), (290, 'SFO'), (202, 'LAS'), (162, 'LAX'), (102, 'DFW'), (64, 'DEN'), (57, 'ORD'), (54, 'PHL'), (50, 'IAH'), (45, 'JFK'), (44, 'PHX')]

### Top 10 source people travel from

In [37]:
#create key-val rdd
travelkeyvals=travelsplit.map(lambda row:(row[1],1))

In [38]:
#cnt each key 
travelcnts=travelkeyvals.reduceByKey(lambda x,y:x+y)

In [39]:
#swap the key val pair and sort
travelswaps=travelcnts.map(lambda x:(x[1],x[0]))
travelsorts=travelswaps.sortByKey(0)
finalrdds=travelsorts.collect()
print(finalrdds[:10])

[(504, 'DFW'), (293, 'MIA'), (272, 'LAS'), (167, 'BOM'), (131, 'SFO'), (101, 'ORD'), (72, 'LAX'), (55, 'DEN'), (41, 'PHL'), (37, 'IAH')]

### Top 10 city pair people like to travel

In [41]:
travelkeyvalc=travelsplit.map(lambda row:(row[0],1))
travelcntc=travelkeyvalc.reduceByKey(lambda x,y:x+y)

In [42]:
travelswapc=travelcntc.map(lambda x:(x[1],x[0]))
travelsortc=travelswapc.sortByKey(0)
finalrddc=travelsortc.collect()
print(finalrddc[:10])

[(160, 'MIA-MIA'), (132, 'DFW-SFO'), (77, 'LAS-LAX'), (75, 'DFW-MIA'), (74, 'LAS-MIA'), (69, 'LAS-LAS'), (65, 'SFO-SFO'), (41, 'PHL-PHL'), (35, 'LAX-LAX'), (32, 'BOM-SFO')]

### Top 10 places from where people prefer travelling from their cars

In [52]:
travelcarsplit=travelsplit.filter(lambda x:x[4]=="2")
travelcar=travelcarsplit.map(lambda row:(row[1],1))

In [53]:
cntcar=travelcar.reduceByKey(lambda x,y:x+y)

In [54]:
#swap key-val 
swapcar=cntcar.map(lambda x:(x[1],x[0]))
sortcar=swapcar.sortByKey(0)
finalcar=sortcar.collect()
print(finalcar[:10])

[(60, 'DFW'), (57, 'MIA'), (47, 'LAS'), (23, 'SFO'), (14, 'ORD'), (14, 'JFK'), (13, 'PHL'), (12, 'BOM'), (11, 'nan'), (7, 'PLS')]

### Top 10 cities that generate high airline revenue

In [55]:
airlinerevsplit=travelsplit.filter(lambda x:x[4]=="1")
airlinerev=airlinerevsplit.map(lambda row:(row[2],1))

In [56]:
cntrev=airlinerev.reduceByKey(lambda x,y:x+y)

In [59]:
swaprev=cntrev.map(lambda x:(x[1],x[0]))
sortrev=swaprev.sortByKey(0)
finalairlinerev=sortrev.collect()
print(finalairlinerev[:10])

[(318, 'MIA'), (233, 'SFO'), (157, 'LAS'), (126, 'LAX'), (77, 'DFW'), (57, 'DEN'), (46, 'ORD'), (40, 'IAH'), (40, 'PHL'), (33, 'FLL')]

### Which hotels people visit more

In [62]:
hotelrddfilter=travelsplit.filter(lambda x:x[16]!="nan")
hotelrdd=hotelrddfilter.map(lambda row:(row[16],1))

In [63]:
cnthotel=hotelrdd.reduceByKey(lambda x,y:x+y)
swaphotel=cnthotel.map(lambda x:(x[1],x[0]))
sorthotel=swaphotel.sortByKey(0)
finalhotellist=sorthotel.collect()
print(finalhotellist[:20])

[(57, 'Ramada Hialeah/Miami Airport'), (34, 'LVH - Las Vegas Hotel & Casino'), (23, '"Hotel Whitcomb'), (18, 'Four Seasons Hotel Philadelphia'), (16, 'Circus Circus Hotel & Casino'), (15, 'Best Western Plus Grosvenor Airport Hotel'), (15, '"The Ritz-Carlton'), (13, 'DFW Airport Hotel & Conference Center'), (12, 'Days Hotel West Chester - Brandywine Valley'), (12, 'Four Seasons Hotel Miami'), (12, '"Hotel Pepper Tree Anaheim'), (11, 'South Beach Hostel'), (11, 'Best Western Plus Garden Court Inn'), (10, 'Hilton Miami Airport'), (10, 'Holiday Inn Civic Center San Francisco'), (10, 'Howard Johnson Plaza Hotel Miami Airport'), (10, 'Sheraton Suites Galleria-Atlanta'), (9, 'Fontainebleau Miami Beach'), (9, 'Ramada Inn Miami Airport North'), (9, 'Renaissance Los Angeles Airport Hotel')]

### Which of the combinations do people prefer the most (Air+hotel or Hotel+Car or Air+Hotel+Car)

In [64]:
comboprdt=travelsplit.filter(lambda x:x[3]=="5" or x[3]=="6" or x[3]=="7")
combokeyval=comboprdt.map(lambda x:(x[3],1))
combocnt=combokeyval.reduceByKey(lambda x,y:x+y)
comboswap=combocnt.map(lambda x:(x[1],x[0]))
combosort=comboswap.sortByKey(0)
finalcombo=combosort.collect()
print(finalcombo)

[(482, '5'), (367, '7'), (82, '6')]

### Which airlines people prefer to travel

In [66]:
airfilter=travelsplit.filter(lambda x:x[15]!='nan')
airkeyval=airfilter.map(lambda x:(x[15],1))
aircnt=airkeyval.reduceByKey(lambda x,y:x+y)
airswap=aircnt.map(lambda x:(x[1],x[0]))
airsort=airswap.sortByKey(0)
finalair=airsort.collect()
print(finalair)

[(304, 'Multiple Airlines'), (211, 'US Airways'), (185, 'United Airlines'), (182, 'Spirit Airlines'), (152, 'Delta Airlines'), (133, 'American Airlines'), (38, 'Frontier Airlines'), (23, 'JetBlue'), (18, 'British Airways'), (15, 'Etihad Airways'), (14, 'Virgin America'), (13, 'Qatar Airways'), (11, 'Air Canada'), (9, 'Turkish Airlines'), (8, 'Aeroflot'), (7, 'Alaska Airlines'), (4, 'Emirates'), (4, 'Lufthansa'), (3, 'TAM Airlines'), (3, 'Virgin Atlantic Airways'), (3, 'Aeromexico'), (3, 'Sun Country'), (2, 'Icelandair'), (2, 'Bangkok Airways'), (2, 'COPA'), (2, 'Air France'), (2, 'China Southern Airlines'), (1, 'LOT  Polish Airlines'), (1, 'SAS'), (1, 'airberlin'), (1, 'SWISS'), (1, 'Brussels Airlines'), (1, 'Jet Airways (India)'), (1, 'Air China Limited'), (1, 'LAN Airlines'), (1, 'Hainan Airlines'), (1, 'Singapore Airlines'), (1, 'Asiana Airlines'), (1, 'Royal Brunei Airlines'), (1, 'Gulf Air'), (1, 'Kuwait Airways'), (1, 'Air Sahara'), (1, 'Air India')]